<!DOCTYPE html>
<html>
<head>

  <!-- <link rel="stylesheet" href="assets/homepage.SCSS"> -->

</head>
<body>


<div class="divider"></div>

  <div class="left_hand_side">

  <div class="scroll_container">

    <%@dogs.each do |dog|%>
    <p><%=dog.name%></p>
    <img class="homepage_scrolling_image" id="picture_1" ></img>
    <%unless @vote.first(dog.id) == nil%>
    <%= button_to 'Who\'s a Good Dog?', button_path(id: dog.id), class: "good_dog_btn", data: { disable_with: 'What a Good Dog'}%>
    <%else%>
    <div> Still a Good Dog! </div>
    <%end%>
    <!-- <button class="good_dog_btn" type="button" onclick="voteDog(dog)"> Who's a Good Dog?</button> -->

    <!-- <img class="homepage_scrolling_image" id="picture_2"></img>

    <button class="good_dog_btn"> Who's a Good Dog?</button>

    <img class="homepage_scrolling_image" id="picture_3"></img>

    <button class="good_dog_btn"> Who's a Good Dog?</button>

    <img class="homepage_scrolling_image" id="picture_4"></img>

    <button class="good_dog_btn"> Who's a Good Dog?</button> -->
    <%end%>
  </div>





  </div>

  <div class="right_hand_side">

<p>test</p>
    <div class="leaderboard">
      <ol>
        <li id="leaderTitle"> Leaderboard </li>
        <% count = 0%>
        <% @dogs.order(:points)%>
        <% @dogs.each do |dog| %>
        <% count += 1%>
        <% if count < 10%>
        <li><p class="leaderb_list_text"><a href=# class="leaderb_list_item"><%= dog.name%></a></p><p class="leaderb_list_text" id="dog_1"><%=dog.points%></p></li>
        <% else %>
          <% return %>
          <%end%>
        <% end %>

      </ol>
    </div>
  </div>


  <script>
  var count = 0;

  function voteDog(dog){
    count++;
    console.log(count);
    console.log(dog);
    document.getElementById("dog_1").innerHTML = count;




  }
  </script>

  <script>
  var dog;
  function incrPoints(id){

  }
  </script>
</body>
</html>
