<!DOCTYPE html>
<html>
<head>
	<title>Header</title>
</head>

<header class="header-login-signup">
	<div class="header-limiter">
		<nav>
			<div class = "header-container">
				<div class = "header-home">
					<%= link_to homepage_index_path do %>
						<i class="fa fa-home" style="color: rgba(239, 25, 25,0.7)"></i>
						Home
					<% end %>
				</div>
				<div class = "header-shelter">
					<%= link_to shelters_path do %>
						<i class="fa fa-building" style="color: rgba(239, 25, 25,0.7)"></i>
						Shelters
					<% end %>
				</div>
				<div class = "header-dogs">
					<%= link_to dogs_path do %>
						<i class="fa fa-paw" style="color: rgba(239, 25, 25,0.7)"></i>
						Dogs
					<% end %>
				</div>
			</div>
		</nav>
		<div class="header-signout">
			<ul>
				<li>
					<%= link_to "Sign Out" , sessions_path, method: "delete" %>
				</li>
			</ul>
		</div>
	</div>
</header>
