<html>
<head>
  <title>Login and registration</title>
</head>
<div class = "before-content"></div>
<body>

    <div class="registration-popup" data-popup="regpop" visibilty="hidden">
        <div class = "registration-popup-inner">
            <form action = "/users" method = "POST" class = "login-form">

                <span class = "login-form-title"> Registration </span>
                <input type = "hidden" name="authenticity_token" value="<%form_authenticity_token%>">
 
                <div class = "signup-form-input-validate">
                    <span class = "login-form-label"> Name </span>
                    <input type = "name" name="user[name]" placeholder = "Type your name/ Type your shelter name" class = "login-form-input">
                    <span class = "login-form-focus" data-symbol="&#xf206;"> </span>
                </div>

                <div class = "signup-form-input-validate">
                    <span class = "login-form-label"> E-mail ID </span>
                    <input type = "email" name="user[email]" placeholder = "Type your email id" class = "login-form-input">
                    <span class = "login-form-focus" data-symbol="&#xf206;"> </span>
                </div>

                <div class = "signup-form-input-validate">
                    <span class = "login-form-label"> Password </span>
                    <input type = "password" name="user[password]" placeholder = "Type your password"  class = "login-form-input">
                    <span class = "login-form-focus" data-symbol="&#xf206;"> </span>
                </div>

                <div class = "signup-form-input-validate">
                    <span class = "login-form-label"> Confirm Password </span>
                    <input type = "password" name="user[password_confirmation]" placeholder = "Confirm your password" class = "login-form-input">
                    <span class = "login-form-focus" data-symbol="&#xf206;"> </span>
                </div>

                <div class="signup-form-select-container">
                    <span class = "login-form-label"> This account is for a </span>
                    <select class ="signup-form-select">
                        <div class = "signup-form-select-content">
                            <option value = "in"> Individual </option>
                            <option value = "sh"> Shelter </option>
                            <option value = "po"> Pet owner </option>
                        </div>
                    </select>
                </div>

                <div class = "sh-form">
                    <div class = "signup-form-input-validate">
                        <span class = "login-form-label "> Address </span>
                        <input type = "text" name = "user[addr]" placeholder = "Enter your Address" class="login-form-input login-form-addr" id="gmaps-input-address">
                    </div>

                    <div class = "signup-form-input-validate">
                        <span class = "login-form-label"> City </span>
                        <input type = "text" name = "user[city]" placeholder = "Enter your Shelter city" class="login-form-input">
                    </div>

                </div>

                <div class = "po-form">
                    <div class = "signup-form-input-validate">
                        <span class = "login-form-label"> City </span>
                        <input type = "text" name = "user[city]" placeholder = "Enter your Shelter city" class="login-form-input signup-form-shelter-city">
                    </div>

                    <div class="signup-form-select-container signup-form-shelter-container">
                        <span class = "login-form-label"> Choose a Shelter</span>
                        <%= select_tag "shelter_id", options_from_collection_for_select(@shelters_by_city, "id", "Name") %>
                    </div>

                </div> 

                


                <div class="signup-form-submit-btn-container">
                    <div class = "signup-form-submit-btn-subcontainer">
                        <input type = "submit" name = "submit" class = "signup-form-submit-btn">
                    </div>
                </div>
                
            </form>

            <div class= "errors">
                <% if flash[:register_errors]%>
                    <% flash[:register_errors].each do |error| %> 
                        <p> <%=error%> </p>
                    <%end%>
                <%end%>
            </div>
        </div>
    </div> 

    <div class = "login-form-container">
        <form action = "/sessions" method = "POST" class = "login-form login-form-exclusive">    

            <span class = "login-form-title"> Login </span>
            <input type = "hidden" name="authenticity_token" value="<%form_authenticity_token%>">

            <div class = "login-form-input-validate" data-validate = "Username is required">
                <span class = "login-form-label"> Username </span>
                <input type = "email" name="login[email]" placeholder = "Type your email id" class = "login-form-input">
                <span class = "login-form-focus" data-symbol="&#xf206;"> </span>
            </div>

            <div class = "login-form-input-validate" data-validate = "Password is required">
                <span class = "login-form-label"> Password </span>
                <input type = "password" name="login[password]" placeholder = "Type your password" class = "login-form-input">
                <span class = "login-form-focus" data-symbol="&#xf190;"> </span>
            </div>

            <div class="login-form-forgot-pwd">
                <a href="#">
                   Forgot password?
                </a>
            </div>
                
            <div class="errors">
                <% if flash[:login_errors]%>
                    <% flash[:login_errors].each do |error| %>  
                        <p> <%=error%> </p>
                    <%end%>
                <%end%>
            </div>

            <div class="login-form-submit-btn-container">
                <div class = "login-form-submit-btn-subcontainer">
                    <div class = "login-form-submit-btn-background"></div>
                       <input type = "submit" name = "submit" class = "login-form-submit-btn">
                </div>
            </div>

            <div class="noaccount-text">
                <span>
                    Have no account yet?
                </span>
            </div>
                
            <div class="signup-container">
                <a href="#" class="signup-text" data-popup-open="regpop">
                    Sign Up
                </a>
            </div>

        </form>
    </div> 

</body>

</html>