<body>
  <div class="left_hand_side">
    <img class="dog_profile_image"></img>
  </div>

  <div class="right_hand_side">
    <p> Name: <%= @dog.name %> </p>
    <p> Breed: <%= @dog.breed %> </p>
    <p> Age:  <%= @dog.age%></p>
    <p> Description: <%= @dog.description%> </p>
  </div>
</body>
