/* Add padding to containers */
td, th {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Full-width input fields */
input[type=text], input[type=string], input[type=integer], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  color: black;
}

input[type=text]:focus, input[type=string]:focus, input[type=integer]:focus, textarea:focus  {
  background-color: #ddd;
  outline: none;
  color:black;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.resize_me{
  width: 200px;
  height: 200px;
}

::placeholder{
  color: black;
  opacity: 0.5;
}

a{
  color: white;
}

h1{
  align-content: center;
    text-align: center
}

.btn-primary{
  padding: 20px 70px;
  font-family: Poppins-Medium;
  align-content: center;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: 41%;
  margin-right: auto;
}
