
// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  //border: 1px solid black;
}

li p{
  color:#FCAB10;
}

ol{
  list-style-type: none;
  background-color: rgba(0, 0, 0, .8);
  margin: 0;
  padding: 0;
  border-radius: 30px;

  
}

ol li{
  background-color: rgba(0, 0, 0, .25);
  font-size: 1.5em;
  padding: 2%;
  font-family: "Poppins-SemiBold";
  display: flex;
  justify-content: space-between;
  color: white;
  

}

.leaderboard{
  padding: 10px;
}

.divider{
  display: block;
  margin: 40px 0px;
}


.left_hand_side{
  display: inline;
  margin-left: 8%;
  width : 45%;
}


.right_hand_side{
  display: inline;
  float: right;
  margin-right: 1%;
  margin-left: 3%;
  width: 45%;
  max-width: 600px;
  position: fixed;
}

.scroll_container{
  display: inline;
}

.leaderb_list_item{
  text-decoration: none;
  display: inline-block;
}

.leaderb_list_text{
  display: inline-block;
}



.homepage_scrolling_image{
  width: 90%;
  max-width: 600px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: flex-start;
  border-radius: 20px
}



.scroll_container{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width : 40%

}

.dog_name_title{
  color: #FFFFFF;
  font-family: Poppins-Regular;
  font-size: 1.8em;
  background-color:rgba(0, 0, 0, .65) ;
  border-radius: 15px;
  margin-top: 5%;
  padding: 5px 15px;
  align-self: flex-start
}
.dog-points {
  color:#FCAB10;
  font-family:Poppins-Medium;
  font-size : 20px;
  margin-top: 2%;
  align-self: flex-start;
  background-color:rgba(0, 0, 0, .65) ;
  border-radius:25px;
  padding: 7px 7px 7px 7px;
}

.dog_description {
  font-family: Poppins-Regular;
  font-size: 1.2em;
  margin-top : 10px;
  align-self: flex-start;
  color: #ffffff;
  background-color:rgba(0, 0, 0, .65);
  border-radius: 25px;
  padding: 15px 15px 15px 15px;
  max-width: 600px;
  word-wrap: break-word;
}

.good_dog_btn{
  font-family: 'Poppins-Medium';
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2cm;
  background-color: rgba(248, 51, 60, 0.9);
  border-radius: 10px;
  margin-bottom : 10%;
  margin-left: -135%;
}

.clicked_good_dog_btn{
  font-family: 'Poppins-Medium';
  font-size: 20px;
  color: #09ef2b; 
  margin-top: 2%;
  align-self: flex-start;
  background-color:rgba(0, 0, 0, .5) ;
  border-radius:25px;
  padding: 7px 7px 7px 7px;
  
}

#leaderTitle{
  text-align: center;
}

.hr {
    display:block;
    width:100%; /*or whatever width you want the effect of <hr>*/
    border-top: 1px solid #070707;
    margin-top:3%;
    float:left;
}

.leaderb_list_text a {
  color : #ffffff;
}
 
