// Place all the styles related to the Shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 500px;
  width: 100%;
}

#caro1{
  background-image:   asset-url("loginbackgnd.jpg");
  width: 90%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.table.table-hover{
  background-color: rgba(200, 200, 200, .7);
}
