// Place all the styles related to the Shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 500px;
  width: 75%;
  margin-left : 190px;
}

#shelterTitle{
  align-content: center;
  //border: 5px solid black;
  text-align: center;

}
tbody{
  border-radius: 30px;
}
thead{
  border-radius: 20px;

}
tr{
  border-radius: 20px;

}

th{
  color: white;
  font-family: Poppins-Bold;
  border-bottom: none !important;
  padding-left: 15px !important;

}

td{
  color: white;
  font-family: Poppins-Regular;
  padding-left: 12px !important;
  word-wrap: break-word !important;

}

// td:hover{
//   background-color: rgba(0, 0, 0, .4);
// }

tr:hover{
  background-color: rgba(0, 0, 0, .4)!important;
}




.h1, .h2, .h4, .h5, .h6, h1, h2, h4, h5, h6{
  font-family: Poppins-Bold !important;
  color: white!important
}

.h3, h3{
  font-family: Poppins-SemiBold !important;
  text-align: center;
  color: white!important
}

a{
  font-family: Poppins-Medium !important;
  color: white  !important;
}

h1{
  color:white;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{
  margin: auto !important;
}

.square{
  display: block;
  border: 5px solid black;
}

.btn.btn-info{
  //border: 5px solid black;
  display: block;
  margin: 0% 30%;

}

.table.table-hover{
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 30px;
}

#paypal-button {
  margin-top : 3%
}

