// Place all the styles related to the Shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 500px;
  width: 100%;
}

#shelterTitle{
  align-content: center;
  //border: 5px solid black;
  text-align: center;

}

.square{
  display: block;
  border: 5px solid black;
}

.btn.btn-info{
  //border: 5px solid black;
  display: block;
  margin: 0% 30%;

}

.table.table-hover{
  background-color: rgba(200, 200, 200, .7);
}
