// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body 
{
  background: {
    image: asset-url("loginbackgnd3.jpg");
    background-repeat: no-repeat;
    align-self: center;
    size: cover;
  }
}