<h1> Name of Shelter </h1>
<h3><%= @shelter.name %> </h3>
<h1> Map of the shelter </h1>
<div id='map' data-shelters="<%= @shelters.to_json%>"></div>
<h1> Dog names: </h1> 
<% @dogs.each do |dog|%>
    <h3><%= dog.name %></h3>
<% end %>
<div id="paypal-button"></div>
<a href="#">Donate</a>
